.game-set {
  border: 6px ridge #9E8970;
  border-radius: 5px;
  width: 90%;
  margin-top: 20px;
  display: none;
}

.game-set .set-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #212524;
  position: relative;
}

.game-set .set-cont #players-count {
  color: #F9F9F9;
  font-size: 20px;
  margin-top: 7px;
}

.game-set .set-cont .player-ids-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
}

.game-set .set-cont .player-ids-div .players-input {
  margin-top: 10px;
}

.game-set .set-cont .player-ids-div .players-input .player-1-name-set, .game-set .set-cont .player-ids-div .players-input .opponent-name-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-set .set-cont .player-ids-div .players-input .player-1-name-set .label, .game-set .set-cont .player-ids-div .players-input .opponent-name-set .label {
  margin-right: 15px;
  color: #EBC187;
  font-size: 17px;
}

.game-set .set-cont .player-ids-div .players-input .player-1-name-set input, .game-set .set-cont .player-ids-div .players-input .opponent-name-set input {
  width: 150px;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 25px;
  background: #363A39;
  -webkit-box-shadow: 0 4px 0 #272B2B;
          box-shadow: 0 4px 0 #272B2B;
  padding: 0 20px;
  color: #fff;
  font-size: 17px;
}

.game-set .set-cont .player-ids-div .players-input .player-1-name-set .sign, .game-set .set-cont .player-ids-div .players-input .opponent-name-set .sign {
  font-size: 40px;
}

.game-set .set-cont .player-ids-div .players-input .player-1-name-set {
  margin-bottom: 20px;
}

.game-set .set-cont .player-ids-div .players-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 25px;
  color: #EBC187;
  margin-left: 5px;
}

.game-set .set-cont .player-ids-div .players-sign .swap-sign {
  font-size: 17px;
  cursor: pointer;
}

.game-set .set-cont .move {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 40px 0;
}

.game-set .set-cont .move p {
  font-size: 20px;
  margin-right: 15px;
  color: #EBC187;
}

.game-set .set-cont .move div {
  color: #EBC187;
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.game-set .set-cont .move div:first-of-type {
  margin-right: 15px;
}

.game-set .set-cont .start-button {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 23px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.3), inset 4px 4px 5px rgba(255, 255, 255, 0.4);
          box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.3), inset 4px 4px 5px rgba(255, 255, 255, 0.4);
  background: #EBC187;
  outline: none;
  border: none;
  border-radius: 5px;
}

.game-set .set-cont .start-button:active {
  -webkit-box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.3), inset -4px -4px 5px rgba(255, 255, 255, 0.4);
          box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.3), inset -4px -4px 5px rgba(255, 255, 255, 0.4);
}

.first-move {
  border: 2px solid #EBC187;
}

.game-play {
  position: relative;
  border: 5px ridge #9E8970;
  padding: 10px;
  border-radius: 10px;
  background: #212524;
}

.game-play table {
  border-collapse: collapse;
  width: 275px;
  height: 275px;
}

.game-play table tr {
  height: 91.66667px;
}

.game-play table tr:first-child td {
  border-top: none;
}

.game-play table tr:last-child td {
  border-bottom: none;
}

.game-play table tr td {
  width: 91.66667px;
  border: 3px solid #EBC187;
  text-align: center;
  color: #EBC187;
  font-size: 70px;
  cursor: pointer;
}

.game-play table tr td:first-child {
  border-left: none;
}

.game-play table tr td:last-child {
  border-right: none;
}

.game-play .stroke {
  position: absolute;
  background: #9E8970;
}

.game-play #stroke-012 {
  width: 275px;
  height: 5px;
  border-radius: 10px;
  top: 17.66667%;
}

.game-play #stroke-345 {
  width: 275px;
  height: 5px;
  border-radius: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.game-play #stroke-678 {
  width: 275px;
  height: 5px;
  border-radius: 10px;
  bottom: 17.66667%;
}

.game-play #stroke-036 {
  width: 5px;
  height: 275px;
  border-radius: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 17.66667%;
}

.game-play #stroke-147 {
  width: 5px;
  height: 275px;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.game-play #stroke-258 {
  width: 5px;
  height: 275px;
  border-radius: 10px;
  right: 17.66667%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.game-play #stroke-048 {
  width: 5px;
  height: 275px;
  border-radius: 10px;
  left: 142.5px;
  top: -5.5%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 325px;
}

.game-play #stroke-246 {
  width: 5px;
  height: 275px;
  border-radius: 10px;
  left: 142.5px;
  bottom: -6%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 325px;
}

.game-play .win-draw-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 150px;
  border: 4px ridge #9E8970;
  background: rgba(33, 37, 36, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  display: none;
}

.game-play .win-draw-alert::after {
  content: '';
  position: absolute;
  top: -100px;
  right: -100px;
  bottom: -250px;
  left: -100px;
  z-index: -1;
}

.game-play .win-draw-alert .message {
  font-size: 17px;
  color: #EBC187;
  margin-bottom: 10px;
}

.game-play .win-draw-alert button {
  width: 125px;
  height: 25px;
  border-radius: 3px;
  background: #212524;
  border: 1px solid #EBC187;
  color: #EBC187;
  outline: none;
  margin: 5px 0;
}

.game-play .win-draw-alert button:hover {
  background: #EBC187;
  color: #212524;
}

.players-and-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 45px;
  border: 5px ridge #9E8970;
  margin-top: 10px;
  background: #212524;
  color: #EBC187;
  border-radius: 7px;
  font-size: 17px;
  padding: 0 10px;
}

.players-and-score .player-avatar-g {
  font-size: 30px;
}

.home-restart {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-restart button {
  background: #EBC187;
  outline: none;
  color: #000;
  border: none;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.3), inset 4px 4px 5px rgba(255, 255, 255, 0.4);
          box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.3), inset 4px 4px 5px rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  font-size: 23px;
}

.home-restart button:active {
  -webkit-box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.3), inset -4px -4px 5px rgba(255, 255, 255, 0.4);
          box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.3), inset -4px -4px 5px rgba(255, 255, 255, 0.4);
}

.game-play-div {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Arial Rounded MT';
}

button {
  cursor: pointer;
}

html, body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222;
}

.container {
  width: 500px;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .game-title {
  font-size: 50px;
  color: #F9F9F9;
  text-shadow: 0px 0px 5px #000;
}

.container .game-title span {
  color: #EBC187;
}

.frontpage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.frontpage .players {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
  height: 175px;
  border: 8px ridge #9E8970;
  border-radius: 15px;
}

.frontpage .players button {
  -webkit-box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.3), inset 4px 4px 5px rgba(255, 255, 255, 0.4);
          box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.3), inset 4px 4px 5px rgba(255, 255, 255, 0.4);
  width: 90%;
  height: 60px;
  font-size: 25px;
  color: #222;
  background: #EBC187;
  outline: none;
  border: none;
  border-radius: 7px;
}

.frontpage .players button:active {
  -webkit-box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.3), inset -4px -4px 5px rgba(255, 255, 255, 0.4);
          box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.3), inset -4px -4px 5px rgba(255, 255, 255, 0.4);
}
/*# sourceMappingURL=style.css.map */