@import 'mixins';
@import 'gameset';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Rounded MT';
}

button {
    cursor: pointer;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: $dark;
}


.container {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    @include flex(center, center);
}

.frontpage {
    @include flex(center, center, column);
    height:90%;
    .game-title {
        font-size: 50px;
        color: $light;
        text-shadow: 0px 0px 5px #000;
        span {
            color: $cream;
        }
    }
    
    .players {
        margin-top: 20px;
        @include flex(space-evenly, center, column);
        width: 310px;
        height: 175px;
        border: 3px solid $cream;
        border-radius: 15px;

        button {
            @include btn-shadow;
            width: 90%;
            height: 60px;
            font-size: 25px;
            color: $dark;
            background: $cream;
            outline: none;
            border: none;
            border-radius: 7px;
        }
    }

}